@import '../colors.scss';

nav{
    background: $--app-main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    flex-wrap: wrap;
}

.users_left{    
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 920px) {

        &{
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;
            order: 2;
        }
    }

    @media screen and (max-width: 650px) {

        &{
            justify-content: space-between;
        }
    }
}